/* Font */
@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");

/* Estilos Gerais */
body {
  font-family: "Denk One", sans-serif;
}

p {
  font-family: courier, arial, helvetica;
  font-size: 0.875em;
}

img {
  max-width: 100%;
}

.btn {
  border: 3px solid #f2d541;
  padding: 10px 30px;
  color: #1c2226;
  font-size: 0.875em;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.subtitulo {
  font-size: 1.5em;
  line-height: 30px;
  font-weight: bold;
  color: red;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
}

/* Header  */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1c2226;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
}

.header_menu ul li a {
  color: #f2d541;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.875em;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 899px;
  background: url("../img/bg-principal.png") no-repeat center;
  background-size: cover;
  margin-top: 70px;
  padding-top: 80px;
}

.alinhamento {
  text-align: center;
}

.introducao h1 {
  font-size: 3em;
  color: #fff;
  font-weight: bold;
  text-transform: lowercase;
}

.quote-externo {
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}

.quote-externo p {
  font-weight: bold;
}

.quote-externo p:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
}

/* Produtos */
.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background-color: #4c5154;
  text-align: center;
  border-radius: 20px;
}

.produtos_lista li h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding-top: 20px;
}

.produtos_lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
}

.produtos_lista li p {
  padding: 10px 10px 10px 10px;
  color: #fff;
}

.produtos_lista li img {
  padding: 10px 10px 20px 10px;
}

.btn-contato {
  background-color: #f2d541;
  color: #1c2226;
  padding: 10px 30px;
  font-size: 0.875em;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 20px;
}

.btn-contato:hover {
  color: #e97531;
  background-color: #fff;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
  color: #fff;
}

.icone_servicos {
  text-align: center;
}

.icone_servicos img {
  max-width: 190;
  max-height: 190px;
  padding: 10px;
  border-radius: 20px;
}

.icone_servicos li {
  display: inline;
}

.btn-contato-portfolio {
  background-color: #1c2226;
  color: #f2d541;
  padding: 10px 30px;
  font-size: 0.875em;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 20px;
}

.btn-contato-portfolio:hover {
  color: #e97531;
  background-color: #fff;
}

.call-portfolio {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call-portfolio p {
  margin-bottom: 20px;
  color: #1c2226;
}

/* Portfolio */
.portfolio {
  width: 100%;
  background: #f2d541;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #1c2226;
}

.portfolio .subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #1c2226;
  margin: 10px auto;
}

.portfolio p {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.portfolio h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 10px;
}

.portfolio h4 {
  font-size: 0.875em;
  padding: 5px 0 1px 0;
  margin-left: 43px;
}

/* Midias Sociais */
.bg-social {
  width: 100%;
  background: #777;
  padding: 10px 0;
}

.bg-social ul {
  margin: 0 auto;
  text-align: center;
}

.bg-social ul li {
  display: inline-block;
  margin: 0 auto;
  margin-left: 40px;
}

.bg-social ul li a {
  padding: 10px 0;
  color: #fff;
}

.bg-social ul li a:hover {
  color: #f2d541;
}

/* Footer */
.bg-footer {
  background: url("../img/bg-principal.png") no-repeat center;
  background-size: cover;
}

.footer {
  margin: 20px 0;
}

.footer li p {
  color: #fff;
  padding: 10px 0;
}

.footer li a {
  color: #fff;
}

.footer li a:hover {
  color: #f2d541;
}

.footer li h2 {
  color: #f2d541;
  margin-bottom: 20px;
  font-size: 1.125em;
  letter-spacing: 0.1em;
}

.footer .links {
  padding-left: 80px;
}

.footer .icon-footer li a {
  font-weight: normal;
  font-family: courier, arial, helvetica;
  font-size: 0.875em;
}

.footer .icon-footer li a i {
  margin-right: 5px;
}

.bg-copy {
  width: 100%;
  background-color: #f2d541;
  text-align: center;
  padding: 10px;
}

/* Barra de progresso */
.barra {
  display: block;
  max-width: 380px;
  height: 25px;
  text-align: center;
  color: #000;
  background-color: #777;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
}

.progresso-html,
.progresso-css,
.progresso-js,
.progresso-node,
.progresso-react,
.progresso-php,
.progresso-wd,
.progresso-java {
  font-family: "Denk One", sans-serif;
  font-size: 0.875em;
  padding-top: 5px;
}

.progresso-html {
  display: block;
  width: 80%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-css {
  display: block;
  width: 70%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-js {
  display: block;
  width: 10%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-node {
  display: block;
  width: 10%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-react {
  display: block;
  width: 25%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-php {
  display: block;
  width: 3%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-java {
  display: block;
  width: 3%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.progresso-wd {
  display: block;
  width: 30%;
  height: 100%;
  background: #add555;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .introducao {
    margin-top: -1px;
    height: 939px;
  }

  .produtos_lista li {
    height: 545px;
  }

  .portfolio .grid-8 {
    width: 788px;
  }

  .portfolio h4 {
    margin-left: 207px;
  }

  .icone_servicos h3 {
    margin-top: 20px;
  }
  .icone_servicos img {
    display: block;
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;
  }
}

@media only screen and (max-width: 787px) {
  .introducao {
    height: 2010px;
    margin-top: -1px;
  }

  .icone_servicos img {
    display: block;
    margin: 0 auto;
    width: 300px;
    min-height: 300px;
  }

  .bg-social ul li {
    margin: 5px;
  }

  .footer .links {
    padding-left: 0;
  }
}

/* JavaScript */

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
